.f_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50px;
  padding-top: 8px;
}
.menus {
  display: flex;
  justify-content: center;
}
.footer_bar {
  display: flex;
  min-width: 500px;
  margin: 23px auto 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}
.home {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.img-width {
  height: 250px;
}
