 .main {
     height: 690px;
     display: flex;
     /* align-items: center; */
     justify-content: center;   
 }
 .Login{
     color: white;
     height: 120px;
     border: 1px solid black;
     background-color: black;
 }
 .Login-img{
    display: flex;
    justify-content: center;   
     /* width: 200px; */
     height: 250px;
 }